.navbar {
  background-color: rgb(207, 71, 71);
  color: white;
}

.navbar-brand {
  font-size: 24px;
}

.navbar-toggler-icon {
  background-color: blue;
}

.nav-link {
  color: rgb(69, 69, 198);
  margin: 0 10px;
}

.navbar-nav {
  width: 100%;
  background-color: rgb(207, 71, 71);
}